*{margin: 0px; padding: 0px; box-sizing: border-box;}

/*CSS for Custom Scrollbar*/
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    
}
::-webkit-scrollbar-thumb{
    background-color: #1E6BB5;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #144e86;
}


/*for mozila*/
.top-button {
    background: #009b79;
    color: #ffff;
    padding: 5px 20px 5px 20px;
    border: 1px solid #009b79;
    border-radius: 6px 0 0 6px;
    position: relative;
    text-align: center;
    line-height: 2;
}
.top-button2 {
    background: #363636 ;
    color: #ffff;
    padding: 5px 20px 5px 20px;
    border: 1px solid #363636;
    border-radius: 0 6px 6px 0;
    position: relative;
    text-align: center;
    line-height: 2;
}
.reset-button {
    background: #e02b2b;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #e02b2b;
    border-radius: 6px;
    position: relative;
    text-align: center;
    width: 130px;
    line-height: 2;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.reset-button:hover {
    background: #c02424;
    border-color: #c02424;
}

.reset-button:active {
    background: #a01d1d;
    border-color: #a01d1d;
    color: #ffff;
    transform: scale(0.98); /* Slightly shrink for a click effect */
}

.reset-button:focus {
    outline: 2px solid #ff6666; /* Add an outline to indicate focus */
}

.is-gift {
    background: #008f70;
    color: #ffff;
    padding: 5px 20px 5px 20px;
    border: 1px solid #008f70;
    border-radius: 6px;
    position: relative;
    text-align: center;
    margin-left: 2px;
    width: 130px;
    top: 4px;
    line-height: 2;
}
.cus-balance {

    background-color: #ffff;
    margin-top: 5px;
    width: 50px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 2.3;
    font-weight: 500;

}
.scroll {
    scrollbar-color: #1E6BB5 white;
    scrollbar-width: thin;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    padding-top: 0px;
    max-height: 68vh;
    margin-bottom: 20px;
}


/*==================Main Css===================*/
body{
    overflow-x: hidden;
}

header {
    box-shadow: 0px 0px 4px #aaa;
}

.navbar{
    padding: 0.2rem 1rem;
}
.navbar-brand{
    padding: 0;
}
.navbar-brand img{
    width: 130px;
}

.admin-dd-item{
    margin-left: -59px;
    padding: 0;
    position: absolute!important;
}
.admin-dd-item .dropdown-item:first-child{
    border-bottom: 1px solid #ddd;
}


/*custom css for all form*/
.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}



/*================================================*/
.body-bg{
    background-color: #ccc;
}
.category-slider .carousel-btn{
        min-width: 70px;
        height: 70px;
        text-align: center;
        background-color: #499BC0;
        margin-left: 3px;
        cursor:alias;
        border-radius: 5px;
    }
.carousel-content{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70px;
        height: 70px;
        text-align: center;
        padding: 4px;
        word-wrap: break-word;
}

.side-card-bg{
    background-color: #e6ffe3;
    border: 0;
}
.side-card-bg .card-header{
    background-color: #009b79;
    border: 0;
}

/*Custom css for Ui kit modal*/
.uk-modal-body, .uk-button{
    border-radius: 5px;
}
/*Custom css for Ui kit select*/
.uk-select{
    height: 32px!important;
    border-radius: 5px;
}




/*icon size*/
.fas{
    font-size: 16px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}


.temp-product .data-table thead th {
    position: -webkit-sticky;
    position: sticky;
    top: -2px;
    z-index: 10;
    background-color: #e4f0fa;
    box-shadow: 0 0px black inset,0 -2px #d4d4d4 inset;
}

.temp-product .data-table tbody tr{
    line-height: 10px;
    font-size: 15px;
}

.temp-product table.table {
    table-layout: fixed;
}
.temp-product table.table tr th, .temp-product table.table tr td {
    border-color: #e9e9e9;
    font-size: 12px;
    padding: 1px!important;
    text-align: center;
    width: 80px;
}
.temp-product table.table tr th:nth-child(1){
    width: 160px;
}
.temp-product table.table tr th:nth-child(4){
    width: 40px;
}
.temp-product table.table tr th:nth-child(5){
    width: 50px;
}
.temp-product table.table tr th:nth-child(6){
    width: 50px;
}

.temp-product table.table tr th:nth-child(7){
    width: 40px;
}
.temp-product table.table tr th:nth-child(8){
    width: 50px;
}

.temp-product table.table tr td:nth-child(4){
    width: 50px;
}
.temp-product table.table tr td:nth-child(5){
    width: 40px;
}
.temp-product table.table tr td:nth-child(6){
    width: 50px;
}

.temp-product table.table tr td:nth-child(7){
    width: 40px;
}
.temp-product table.table tr td:nth-child(8){
    width: 50px;
}

.temp-product table.table th .fas {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
.temp-product table.table th:last-child {
    width: 70px;
}
.temp-product table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    min-width: 14px;
}    
.temp-product table.table td a.delete {
    color: #E34724;
}
.temp-product table.table td .fas {
    font-size: 14px!important;
}
.temp-product table.table td a.add .fas {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
.temp-product table.table .form-control {
    height: 26px;
    line-height: 26px;
    box-shadow: none;
    border-radius: 2px;
    padding: 2px;
    font-size: 14px;
}
.temp-product table.table tr td input[type="text"]{
    text-align: center;
}


/*for Search bar*/
/*
#search-input{
    padding: 2px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#search-input input{
    border: 0;
    box-shadow: none;
    padding: 0px;
    height: 26px;
}
*/

.open-search {
    border-radius: 3px;
    flex: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.open-search .fa-search {
    display: none;
}
.open-search .input-open-search {
    display: none;
}
.open-search .input-open-search:checked~.search {
    display: block;
}
.search .input-search {
    border-radius: 3px;
    border: none;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-size: 0 2px, 100% 1px;
}
.search .input-search:focus {
    
    outline: none;
}
.search .button-search {
    background: #131314;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.search .button-search .fa-search {
    display: block;
}


/*search bar style end*/

.body-right{
    padding-left: 0px;
}
.body-right-div{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    background-color: #F0F2F5;
}


.cost {
    margin-top: 4px;
    padding-bottom: 2px;
    border: 1px solid #009b79;
    border-radius: 5px;
    background-color: #F7F7F7;
    box-shadow: 0px 1px 3px 1px #ddd;
    background: #fdfffc;
  
}
.cost h2 {
    background: #070707;
    color: #2fff2c;
    margin: 0px;
    padding: 6px 0;
    width: 100%;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    margin-top: -4px;
}

.saleBtn {
    margin: 2px auto;
    width: 70%;
    position: relative;
    outline: 0;
    padding: 6px 0;
    display: block;
    cursor: pointer;
    color: #eee;
    background-color: #2ecc71;
    border: 0;
    border-radius: 20px;
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
}
.saleBtn:hover {
    background-color: #25a25a;
    color: #fff;
}

.saleOverview {
  width: 97%;
  color: #009b79;
  font-weight: 500;
  text-transform: uppercase;
}
.saleOverview tr {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.saleOverview tr:last-child {
    border-bottom: 0;
    color: #e02b2b;
    font-size: 20px;
}
.saleOverview td:nth-child(2) {
  display: table-cell;
}
.saleOverview td:nth-child(2) {
  border-left: 1px solid rgba(204, 204, 204, 0.5);
}

/*customer discount switch start*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -4px;
  bottom: 0;
  background-color: #e02b2b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #31c116;
}
input:checked + .slider:before {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/*customer discount switch end*/

.tabs li:hover,
.tabs li.active { background-color:#1D71B7; color: #fff;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #2a2963;
    border: 1px solid #2a2963;
    border-radius: 5px;
    width: 120px;
}

.payment_option{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #009b79;
    border-radius: 5px;
    background-color: #fdfffc;
    box-shadow: 0px 1px 3px 1px #ddd;
}
.payment_option h4{
    font-weight: 600;
    color: #009b79;
    position: relative;
    text-transform: uppercase;
}
.payment_option h4::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 32px;
    left: 2px;
}

.payment_option ul{
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    border-bottom: none;
    text-transform: uppercase;
}
.payment_option ul li{
    border-left:1px solid #E4E5E6;
}

.payment_option ul li:first-child{
    /* border-left:0; */
}

.payment_option ul li a{
    color: #016dc5;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-family: sans-serif;
    font-weight: 600;
}
.fade:not(.show){opacity: 1;}

.nav-tabs .nav-item {
    background-color: #2172ba;
    border: 1px solid #2172ba;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
    text-align: center;
    height: 59px;
    line-height: 3;
}
.nav-tabs .nav-link{
    color: #fff;
    border: none;
}
.nav-tabs .nav-link.disabled {
    background-color: #2172ba;
    border: 1px solid #2172ba;
    border-radius: 5px;
    width: 138px;
    font-size: 15px;
    text-align: center;
}

.multiPay_legend{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.body-item{
    width: 9%;
    padding-top: 9%;
    background-color: cadetblue;
    margin: 2px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.btn-text{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 90%;
    font-weight:600;
}


#DeliveryService .uk-table th,#DeliveryService .uk-table td{
    padding: 2px 12px !important;
}
#DeliveryService .uk-modal-title {
    font-size: 19px;
    line-height: 0.3;
    font-weight: bold;
    position: relative;
    color: #033558;
}

#DeliveryService .uk-modal-title::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 166px;
    width: 68%;
    border-bottom: 2px solid #033558;
}
.focus_error{
    color: #c10000;
    background-color: rgba(255, 147, 147, 0.10);
    border: 1px solid red!important;
    outline: inherit;
}
.error {
    color: #da4444;
    font-weight: normal;
    width: 100%;
}
.showmessage {
    padding: 5px 30px;
    color: #fff;
    background: #1e9e1e;
    font-weight: bold;
    line-height: 26px;
    margin: 10px 0 0 5px;
    border-radius: 3px;
    display: table;
    letter-spacing: 1px;
    float: right;
    position: fixed;
    z-index: 9999;
    right: 40px;
    top: 42px;
}
.loading{
    position: absolute;
    background: rgba(0,0,0,.3);
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 99999;
}
.loader {
    border-radius: 50%;
    background: #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin2 1s linear infinite;
    animation: spin2 1s linear infinite;
    position: fixed;
    top: 40%;
    left: 50.5%;
}
.loader::after {
    content: "";
    border-radius: 50%;
    background: #fff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin2 2s linear infinite;
    animation: spin2 2s linear infinite;
    position: absolute;
}
.multiple_total ul {
    list-style: none;
}
.multiple_total ul li {
    font-weight: bold;
}
.multiple_total ul li span {
    color: brown;
    float: right;
}
/*multiple payment modal table*/
.table-responsive-stack tr {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display: block;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   width: 33.33%;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-direction: column;
       flex-direction: column;
       border-bottom: 3px solid #ccc;
       display: block;

   }

   .table-responsive-stack td {
       float: left\9;
       width: 100%;
   }
}
/*multiple payment modal table*/

.disabled-btn{
    pointer-events: none;
    opacity: .7;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: relative;
    top: 4px;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.sales-tool-discount{

    color: #fefffc;
    background: #009b79;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 5px;
    padding: 15px;

}

.sales-tool-pause{

    color: #fefffc;
    background: #4f5251;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    left: 33px;

}

.sales-tool-restore{

    color: #fefffc;
    background: #027e79;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    left: 51px;

}

.sales-tool-delivery{

    color: #fefffc;
    background: #e02b2b;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    left: 71px;

}

.sales-tool-replace{

    color: #fefffc;
    background: #2a2964;
    border: 1px solid #fff;
    width: 100px;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    left: 91px;

}










